<div class="container-fluid px-0">
    <header>
        <h1 class="heading text-center mb-0">Taco Stand</h1>
        <hr>
    </header>

    <section>
        <div class="row">
            <div class="col-12 col-sm-6 py-5 grid-secondary grid-1">
                <h2 class="text-center">Hola, tacos!</h2>
                <div class="text pl-5 pl-sm-3 pl-md-5 px-0 pr-sm-5 pr-md-1 pt-3 row">
                    {{#each tacos}}
                    {{#unless devoured}}
                    <p class="col-7 pt-1">
                        {{taco_name}}
                    </p>
                    <div class="col-5">
                        <button class="change-eat btn ml-3 my-1" data-id="{{id}}" data-neweat="true">
                            Devour
                        </button>
                    </div>
                    {{/unless}}
                    {{/each}}
                </div>
            </div>

            <div class="col-12 col-sm-6 py-5 grid-primary grid-2">
                <h2 class="text-center">Adiós, tacos!</h2>
                <div class="text pl-5 pl-sm-3 pl-0 pl-md-5 pt-3 row">
                    {{#each tacos}}
                    {{#if devoured}}
                    <p class="col-7 pt-1">
                        {{taco_name}}
                    </p>
                    <div class="col-5">
                        <button class="change-eat btn ml-3 my-1" data-id="{{id}}" data-neweat="false">
                            Remake
                        </button>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-6 py-5 grid-primary grid-3">
                <h2 class="text-center">Custom request</h2>
                <form class="text create-form px-1 px-sm-3 pt-3">
                    <div class="form-group">
                        <p>
                            <label for="taco">What kind of taco would you like?</label><br>
                        </p>
                        <div class="row px-3">
                            <input class="col-12 col-md-9" type="text" id="taco" name="name">
                            <div class="mx-auto">
                                <button class="btn mt-3 mt-md-0" type="submit">Add</button>
                            </div>
                        </div>
                    </div>
                </form>
                {{!-- <img class="img-fluid pt-0 mt-0" src="https://cdn.pixabay.com/photo/2017/10/24/10/10/taco-2883992_1280.png"> --}}
            </div>

            <div class="col-12 col-sm-6 py-5 grid-secondary grid-4">
                <h2 class="text-center">Full menu</h2>
                <div class="text pl-1 pl-5 pl-sm-3 pl-md-5 pt-3">
                    {{#each tacos}}
                    <p>
                        {{taco_name}}
                    </p>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
    <footer class="text-center small pb-1">
        <a href="https://lisaswindler.github.io/portfolio" target="_blank"><i class="fa fa-id-card-o"
                aria-hidden="true"></i> Lisa's Portfolio</a> |
        <a href="https://github.com/lisaswindler/burger" target="_blank"><i class="fa fa-github" aria-hidden="true"></i>
            GitHub</a>
    </footer>
</div>